<div class="col-12">
  <h1 style="color:#cc3333;">Our Book Collection</h1>

  <div class="well">
    <% @books.each do |book| %>
    <ul>
      <li> <%= link_to "#{book.title}", book_path(book) %> </li>
    </ul>
    <% end %>
  </div>
</div>

<div class="well">
<<<<<<< HEAD
  <%= link_to "Add New Book", new_book_path, class: 'btn btn-defalut' %>
=======
  <%= link_to "Add New Book", new_book_path, class: 'btn btn-default' %>
>>>>>>> 15dea95a6fc1b5ac3a886a95ec2b6e6e681a600c
</div>
