<<<<<<< HEAD
<h1>Welcome to Bookazon!!!!</h1>
<p>The best place for cool books</p>
=======
<h1>Welcome to Bookazon!!! </h1>
<p>The best place for cool books </p>

>>>>>>> 8f75727f1fdef019b63a2f1f32c2eb04c0a2bdc9
<%= link_to 'Checkout Our Books', books_path, class: 'btn btn-lg btn-danger' %>
