<div class="col-12">
<<<<<<< HEAD
<h1>Our Book Collection</h1>

<div class="well">
<% @books.each do |book| %>
<ul> <%= book.title %> </ul>
<% end %>




</div>
=======
  <h1 style="color:#cc3333;">Our Book Collection</h1>

  <div class="well">
    <% @books.each do |book| %>
    <ul>
      <li> <%= book.title %> </li>
    </ul>
    <% end %>
  </div>
>>>>>>> 8f75727f1fdef019b63a2f1f32c2eb04c0a2bdc9
</div>
