<<<<<<< HEAD
<h1>Books#new</h1>
<p>Find me in app/views/books/new.html.erb</p>
=======
<%= simple_form_for @book do |f| %>
  <%= f.button :submit %>
<% end %>
>>>>>>> 8f75727f1fdef019b63a2f1f32c2eb04c0a2bdc9
